#background {
    width: 1200px;
    height: 700px;
    background-image: url('assets/space.jpg');
    position: absolute;
    background-position:100% 0%;
    background-color: (204, 204, 204, 0.5);

}

div#hero {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero.png');
    position: absolute;
    left: 575px;
    top: 600px; 
}

div#missiles {
    width: 1200px;
    height: 700px;
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('assets/missile1.png');
    position: absolute;
}

div#enemies {
    width: 1200px;
    height: 700px;
    position: absolute;
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('assets/enemy.png');
    position: absolute;
}

head, body {
    overflow: hidden;
    background-attachment:fixed;
}
